.cabinsbox {
    width : 100% ;
    padding : 5%;
    height: 100%;
}


.videobox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.videobox Youtube {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

.center {
    font-size: medium;
    text-align: center;
    margin-top: 2% ;
}
.spectext {
    background-color: chartreuse;
}
.title {
    font-size: medium;
    font-weight: bold;
    margin-top: 2%;
}
.video {
    width : 50%
}
.venmophoto1 {
    width: 100%;
}
.venmophoto1:hover {
    border-style: solid;
    border-color: yellow;
}
.box1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.formbox {
    width: 80%;

}
.box2{
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    margin-top:10%;
}

li {
    margin-top:3%;
}

.space {
    margin-bottom: 5%;
}

.fix{
    width: 100%;
}

.addresslink {
    text-decoration: none;
    color: green;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .fix{
        width: 100%;
    } 
}