.cabinsbox {
    width : 100% ;
    padding : 5%;
    height: 100%;
}

.videobox {
    width: 100%;
    display: flex;
    justify-content: center;
}

.videobox Youtube {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

.center {
    font-size: medium;
    text-align: center;
    margin-top: 2% ;
}
.spectext {
    background-color: chartreuse;
}
.title {
    font-size: medium;
    font-weight: bold;
    margin-top: 2%;
}
.video {
    width : 50%
}