.q-abox {
    padding-top: 2%;
    padding-bottom: 2%;
    display:flex;
    flex-direction: column;
    align-items: center;


}
.title {
    font-family: 'Dancing Script', cursive;
    font-size: 52px;
    text-align: center;
    font-weight: 100;
}
.picture {
    padding-top:5%;
    width: 50%;
}
h1 {
    padding-top:5%;
    padding-left:5%;
    padding-right:5%;
}
h2 {
    padding-top:5%;
    padding-left:5%;
    padding-right:5%;
}
a {
    padding-top:5%;
    padding-left:5%;
    padding-right:5%; 
}
