.links {
    color: grey;
    text-decoration: none;
}

.links:hover {
    color: black;
}

.bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    width: 80%;
}
.spans {
    display: flex;
}
