.links {
    color: grey;
    text-decoration: none;
}

.links:hover {
    color: black;
}

.bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    width: 80%;
}
.spans {
    display: flex;
}

@media screen and (min-width: 500px) {
    .bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }
  }
