.links {
    color: grey;
    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
    font-size: normal

}

.links:hover {
    color: black;
}

.bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
}
.spans {
    display: flex;
}

@media screen and (max-width: 1200px) {
    .bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }
  }
